/*map get */
.estilo1 {
  text-align: center;
  display: block;
  width: 100%;
  justify-items: center;
  border: 1px solid red; }

.estilo2 {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  font-size: 15px; }
